version: "3.7"

services:
  mediaproxyoma:
    image: yonle/mediaproxyoma:latest
    build: .
    container_name: mediaproxyoma
    depends_on:
      - bwhero
    environment:
      BWHERO_HOST: "http://bwhero:5000"
      LISTEN: "0.0.0.0:8080"
    ports:
      - "8080:8080"
    networks:
      - bw_net
  bwhero:
    image: yonle/bwhero:latest
    container_name: bwhero
    environment:
      LISTEN: "0.0.0.0:5000"
      #IMAGESIZELIMIT: 50000000
      #ANIMATIONSIZELIMIT: 10000000
    networks:
      - bw_net

networks:
  bw_net:
    driver: bridge
